{% extends "layout.html" %}
{% block content %}

    <div id="container1">
        <h2 class="my-heading container"><img class="logo-heading"
                                              src="/static/images/logos/DeVill_Logo.png">
        </h2>
        <h3 class="text-center mb-3">The Digital Deserted Medieval Villages Archive of the Austrian Society for Medieval and Modern Archaeology</h3>
        <a title="click to open site selection" href="{{ url_for('sites') }}">
            <div id="map" style="height: calc(100vh - 428px);"></div>
        </a>

        <footer id="myfooter">
            {% include 'footer.html' %}
        </footer>
    </div>


    <script>    sitelist = {{ sitelist|tojson }};    </script>
    <script>    domains = {{ domains|tojson }};    </script>
    <script>    entitycount = {{ entitycount|safe }};    </script>
    <script src="/static/js/index.js"></script>
{% endblock %}
