{% extends "layout.html" %}
{% block content %}
    <script src="/static/vendor/node_modules/bstreeview/dist/js/bstreeview.min.js"></script>
    <link rel="stylesheet"
          href="/static/vendor/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css">
    <script src="/static/vendor/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
    <script src="/static/vendor/node_modules/vis-network/dist/vis-network.min.js"></script>
    <link href="/static/css/charts.css" rel="stylesheet">

    <style>
        input[type="checkbox"] + label {
            margin-left: 0.5em;
            margin-right: 0.5em;
            margin-bottom: -0.3em;
            background-color: #007bff;
        }
    </style>
    <div class="breadcrumb"
         id="mybreadcrumbs">{{ data.topparent.type }}: {{ data.path }}</div>
    <div id="mycontent">
        <div class="container-fluid">
            <div class="row hierarchy-card">
                <div class="col-xl">

                    <div class="card mb-3">
                        <div class="card-header" id="typename">
                             <span class="btn-link" data-bs-toggle="collapse"
                                   data-bs-target="#main"
                                   aria-expanded="true" aria-controls="main">
                                 {{ data.name }}
                             </span>

                        </div>
                        <div class="card-body collapse show" id="main">
                            <div>
                                <button type="button" onclick="getCitation()"
                                        title="how to cite this"
                                        class="btn btn-secondary float-end">
                                    <i class="fas fa-quote-right"></i>
                                </button>
                            </div>

                            {% if data.description %}
                                <p class="card-text text-muted"
                                   id="typeDescription">
                                    {{ data.description }}
                                </p>
                            {% endif %}
                            <h6 class="card-subtitle mb-2">
                                Hierarchy:
                                <a href="/vocabulary/{{ data.topparent.id }}"
                                   class="card-link">
                                    {{ data.topparent.name }}
                                </a>
                                {% if data.topparent.description and data.parent %}
                                    <p class="card-text text-muted"
                                       id="topparentDescription">
                                        <i> ({{ data.topparent.description }})
                                        </i>
                                    </p>
                                {% endif %}
                            </h6>
                            <h6 class="card-subtitle mt-2 mb-2">
                                Properties:
                                <span class="text-muted">
                                {{ data.topparent.type }}, {{ data.topparent.selection }}
                                </span>
                            </h6>
                            <h6 class="card-subtitle mt-2 mb-2">
                                Usage:
                                <span class="text-muted" id="usage">
                                </span>
                            </h6>
                            {% if data.parent %}
                                <h6 class="card-subtitle mt-2 mb-2">
                                    Subcategory of:
                                    <a href="/vocabulary/{{ data.parent }}"
                                       class="card-link">
                                        {{ data.parent_name }}
                                    </a>
                                </h6>
                            {% endif %}
                            {% if data.children %}
                                <h6 class="card-subtitle mt-2 mb-2">
                                    Subcategories:
                                    <span class="text-muted">
                                    {{ children }}
                                        {% if children != children_recursive-1 %}
                                            ({{ children_recursive-1 }} -
                                            recursively)
                                        {% endif %}
                                </span>
                                </h6>
                            {% endif %}
                            {% if data.entities_recursive %}
                                <h6 class="card-subtitle mt-2 mb-2">
                                    Entities:
                                    <span class="text-muted">
                                    {{ data.entities|length }}
                                        {% if data.entities|length !=
                                        data.entities_recursive|length %}
                                            (
                                            {{ data.entities_recursive|length }}
                                            -
                                            including subcategories)
                                        {% endif %}
                                </span>
                                </h6>
                            {% endif %}
                            {% if data.files %}
                                <div class="mt-4">

                                    <div class="card" id="ImgOne">

                                        {% if ".glb" in data.files[0].file_name %}
                                            <p class="text-muted"
                                               title="see Media tab for more">
                                                Preview <i
                                                    title="enlarge" onclick="
                                                    current3dFile = JSON.stringify({{ data.files[0] }});
                                                    set3D('{{ data.files[0].file_name }}')
                                                    "
                                                    class="hoverfa float-end fas fa-expand-arrows-alt"></i>
                                            </p>
                                            <model-viewer
                                                    class="img-fluid card-img-bottom"
                                                    src="{{ data.files[0].file_name }}"
                                                    auto-rotate
                                                    camera-controls
                                                    style="min-height: 250px;"></model-viewer>
                                        {% else %}
                                            <a href="{{ data.files[0].file_name }}"
                                               data-featherlight>
                                                <img class="card-img-bottom img-fluid"
                                                     src="{{ data.files[0].file_name }}"
                                                     alt="image"
                                                        {% if data.files[0].source %}
                                                     title="{{ data.files[0].source }}"
                                                        {% endif %}
                                                     style="width:auto; max-height: 250px">
                                            </a>
                                        {% endif %}
                                        <p class="text-muted">
                                            {% if data.files[0].source %}
                                                {{ data.files[0].source }}
                                            {% endif %}
                                        </p>
                                        <p>
                                            {% if data.files[0].license %}
                                                <a href="/vocabulary/{{ data.files[0].licenseId }}"
                                                   target="_blank">{{ data.files[0].license }}</a>
                                            {% endif %}
                                        </p>

                                    </div>

                                </div>
                            {% endif %}
                        </div>
                    </div>

                    {% if data.time %}
                        <div class="card mb-3">
                            <div class="card-header">
                            <span class="btn-link" data-bs-toggle="collapse"
                                  data-bs-target="#time"
                                  aria-expanded="true" aria-controls="time">
                                Timeline
                            </span>
                            </div>
                            <div class="card-body collapse show" id="time">
                                <div class="ms-3">
                                    <table class="mt-3" style="width: 100%">
                                        <tr id="timeline_heading"></tr>
                                    </table>
                                    <table style="width: 100%">
                                        <tr id="timeline_bars"></tr>
                                    </table>
                                    <table style="width: 100%">
                                        <tr id="timeline_spans"></tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="card mb-3">
                        <div class="card-header">
                            <span class="btn-link" data-bs-toggle="collapse"
                                  data-bs-target="#tree"
                                  aria-expanded="true" aria-controls="tree">
                                Hierarchy
                            </span>
                        </div>
                        <div class="card-body collapse show" id="tree">
                            {% if data.parent %}
                                <a style="margin-left: -0.5em"
                                   href="/vocabulary/{{ data.parent }}">
                                    {{ data.parent_name }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% if data.entities_recursive %}
                    <div class="col-xl">
                        <div class="card mb-3">
                            <div class="card-header">
                                <span class="btn-link" data-bs-toggle="collapse"
                                      data-bs-target="#mapContainer"
                                      aria-expanded="true"
                                      aria-controls="collapseOne">
                                    Occurences
                                </span>
                            </div>
                            <div id="mapContainer" class="collapse show">
                                <div class="card-body" id="map"
                                     style="height: 50vh; width: 100%"></div>
                                <div class="card-footer text-muted"
                                     id="occurence"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>

            <div class="hierarchy-card card mb-3">
                <div class="card-header">
                            <span class="btn-link" data-bs-toggle="collapse"
                                  data-bs-target="#network"
                                  aria-expanded="true" aria-controls="tree">
                                Network
                                <span id="loadingspinner" class="d-none">
                                <div class="float-end spinner-border text-primary"
                                     style="width: 1.3em; height: 1.3em;"
                                     role="status">
                                </div>
                                <span class="me-3 float-end text-primary">Loading...</span>
                                </span>
                            </span>
                </div>
                <div class="card-body collapse" id="network">
                    <div id="mynetwork">
                    </div>

                </div>
            </div>
            <div id="network-container"></div>

            {% if data.entities_recursive or data.files or data.gazetteers %}
                <div class="card mb-2">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        {% if data.entities_recursive %}
                            <li class="nav-item">
                                <a id="entNav" class="nav-link active"
                                   data-bs-toggle="tab"
                                   href="#entities">Entities</a>
                            </li>
                        {% endif %}
                        {% if data.bibliography %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#bibliography">Bibliography</a>
                            </li>
                        {% endif %}
                        {% if data.references %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab"
                                   href="#references">External references</a>
                            </li>
                        {% endif %}
                        {% if data.gazetteers %}
                            <li class="nav-item">
                                {% if not data.entities_recursive %}
                                    <a id="gazNav" class="nav-link active"
                                       data-bs-toggle="tab"
                                       href="#gazetteers">Identifiers
                                    </a>
                                {% else %}
                                    <a id="gazNav" class="nav-link"
                                       data-bs-toggle="tab"
                                       href="#gazetteers">Identifiers
                                    </a>
                                {% endif %}
                            </li>
                        {% endif %}
                        {% if data.files %}
                            <li class="nav-item">
                                {% if not data.entities_recursive %}
                                    <a id="fileNav" class="nav-link active"
                                       data-bs-toggle="tab"
                                       href="#images">Media</a>
                                {% else %}
                                    <a id="fileNav" class="nav-link"
                                       data-bs-toggle="tab"
                                       href="#images">Media</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-body tab-content">
                    {% if data.entities_recursive %}
                        <div class="tab-pane active" id="entities">
                            <table id="entities_tbl"
                                   class="display table table-striped table-bordered"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Context</th>
                                    <th>Level</th>

                                </tr>
                                </thead>
                            </table>
                        </div>
                    {% endif %}
                    {% if data.bibliography %}
                        <div class="tab-pane" id="bibliography">Bibliography
                        </div>
                    {% endif %}
                    {% if data.references %}
                        <div class="tab-pane" id="references">External
                            References
                        </div>
                    {% endif %}
                    {% if data.gazetteers %}
                        {% if not data.entities_recursive %}
                            <div class="tab-pane active" id="gazetteers">
                        {% else %}
                            <div class="tab-pane" id="gazetteers">
                        {% endif %}
                    <div class="row">
                        {% for row in data.gazetteers %}
                            <div class="col-sm-6 col-lg-4 mb-4 media-col">
                                <div class="card text-center">

                                    <div class="card-header">
                                        {% if row.favicon %}
                                            <span><a title="{{ row.about }}"
                                                     href="{{ row.url }}"
                                                     target="_blank">{{ row.domain }}
                                                    <img style="max-height: 30px"
                                                         src="{{ row.favicon }}"></a></span>
                                        {% else %}
                                            <span><a title="{{ row.about }}"
                                                     href="{{ row.url }}"
                                                     target="_blank">{{ row.domain }}
                                                    </a></span>
                                        {% endif %}
                                    </div>
                                    <div class="card-body">
                                        <a title="Identifier from {{ row.domain }}"
                                           href="{{ row.url }}"
                                           target="_blank">{{ row.identifier }}</a>
                                        {% if row.label %}
                                            <br><i>{{ row.label }}</i><br>
                                        {% endif %}
                                        {% if row.description %}
                                            <span class="card-text"><small
                                                    class="text-muted">{{ row.description }}</small></span>
                                        {% endif %}


                                    </div>
                                    {% if row.image %}
                                        <a href="{{ row.image.origin }}"
                                           target="_blank"
                                           title="Image from: {{ row.image.origin }}. Click for details and licence information"><img
                                                class="card-img-bottom"
                                                src="{{ row.image.url }}"
                                                alt=""></a>
                                        <span class="p-2">
                                                <small><a class="mt-2"
                                                          href="{{ row.image.origin }}"
                                                          target="_blank"><i
                                                        class="fas fa-info-circle me-2"></i></a>
                                                    {{ license|safe }}
                                                <br><span>Image: {{ credit|safe }}</span></small>
                                                </span>
                                    {% endif %}
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                    </div>
                    {% endif %}
                    {% if data.files|length >= 1 %}
                        {% if not data.entities_recursive %}
                            <div class="tab-pane active" id="images">
                                <div class="row">
                                    {% for row in data.files %}
                                        <div class="col-sm-6 col-lg-4 mb-4 media-col">
                                            <div class="card">
                                                {% if ".glb" in (row.file_name) %}
                                                    <model-viewer
                                                            class="img-fluid card-img-bottom"
                                                            style="min-height: 250px;"
                                                            src="{{ (row.file_name) }}"
                                                            alt="3d" auto-rotate
                                                            camera-controls>
                                                        <div class="annotation"
                                                             title="enlarge"
                                                             data-file="{{ row }}"
                                                             onclick="current3dFile = $(this).data('file'); set3D('{{ (row.file_name) }}')">
                                                            <i class="fas fa-expand"></i>
                                                        </div>
                                                    </model-viewer>
                                                {% else %}
                                                    <a href="{{ (row.file_name) }}"
                                                       data-featherlight>
                                                        <img src="{{ (row.file_name) }}"
                                                             alt="image"
                                                                {% if row.source %}
                                                             title="{{ row.source }}"
                                                                {% endif %}
                                                             class="img-fluid ThreeDeeImage card-img-bottom">
                                                    </a>
                                                {% endif %}

                                                <p class="text-muted">
                                                    {% if row.source %}
                                                        {{ row.source }}
                                                    {% endif %}
                                                </p>
                                                <p>
                                                    {% if row.license %}
                                                        <a href="/vocabulary/{{ row.licenseId }}"
                                                           target="_blank">{{ row.license }}</a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-pane" id="images">
                                <div class="row">
                                    {% for row in data.files %}
                                        <div class="col-sm-6 col-lg-4 mb-4 media-col">
                                            <div class="card">
                                                {% if ".glb" in (row.file_name) %}
                                                    <model-viewer
                                                            class="img-fluid card-img-bottom"
                                                            style="min-height: 250px;"
                                                            src="{{ (row.file_name) }}"
                                                            alt="3d" auto-rotate
                                                            camera-controls>
                                                        <div class="annotation"
                                                             title="enlarge"
                                                             data-file="{{ row }}"
                                                             onclick="current3dFile = $(this).data('file'); set3D('{{ (row.file_name) }}')">
                                                            <i class="fas fa-expand"></i>
                                                        </div>
                                                    </model-viewer>
                                                {% else %}
                                                    <a href="{{ (row.file_name) }}"
                                                       data-featherlight>
                                                        <img src="{{ (row.file_name) }}"
                                                             alt="image"
                                                                {% if row.source %}
                                                             title="{{ row.source }}"
                                                                {% endif %}
                                                             class="img-fluid card-img-bottom">
                                                    </a>
                                                {% endif %}
                                                <p class="text-muted">
                                                    {% if row.source %}
                                                        {{ row.source }}
                                                    {% endif %}
                                                </p>
                                                <p>
                                                    {% if row.license %}
                                                        <a href="/vocabulary/{{ row.licenseId }}"
                                                           target="_blank">{{ row.license }}</a>
                                                    {% endif %}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    </div>

                </div>
            {% endif %}

            </div>


        </div>
    </div>
    </div>
    <script>
        data =
        {{ data|tojson }}
    </script>
    <script src="/static/js/vocabulary.js"></script>
{% endblock %}

