{% extends "layout.html" %}
{% block content %}
    <div id="container">
        <div id="sidebar" class="hidden-xs hidden-sm">
            <div class="sidebar-wrapper">
                <div class="panel panel-default" id="pnlSidebar">
                    <div id="mysidebarheading" class="panel-heading">
                        <div class="float-right mt-3">
                            <button type="button"
                                    class="mr-2 btn btn-secondary btn-sm fa-pull-right"
                                    onclick="this.blur(); modalsetsite()" title="show details">
                                <i class="fa fa-info"></i>
                            </button>
                        </div>
                        <h3 class="panel-title">
                        <span id="sidebarTitle">
                        </span>
                        </h3>
                    </div>

                    <div id="mysidebarmenu" class="panel-heading">
                        <div class="dropdown">


                        </div>
                    </div>
                    <div class="panel-body" id="mypanel">
                        <div class="panel-group" id="accordion1"
                             style="overflow-y: hidden">
                            <!--content to be created by js function--> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>

        <div id="dialog" title="Filter/Search">
            <form id="mysearchform"></form>
            <div id="infoalert"></div>
        </div>

        <div class="modal fade" id="CSVmodal" tabindex="-1" role="dialog"
             aria-labelledby="CSVmodalLabel" aria-hidden="true">
            <div class="modal-dialog modal-xl" role="document">
                <div class="modal-content">
                    <div class="modal-header costum-header-bg">
                        <h5 class="modal-title" id="CSVmodalLabel">Search result for: </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table id="CSVmodalContent"
                               class="display table table-striped table-bordered" width="100%">
                            <thead>
                            <tr>
                                <th>Object Name</th>
                                <th>Object Type</th>
                                <th>Search Result</th>
                                <th>Value</th>
                                <th>Unit</th>
                                <th>Begin</th>
                                <th>End</th>
                                <th>Context</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="modal-footer costum-header-bg resultlistfooter">
                        <form id="myvisformCSV"></form>
                        <button type="button" class="btn btn-primary"
                                onclick="exportToCSV(CSVresultExport)"
                                title="Download result as spreadsheet data (CSV - Comma separated Values)">
                            Export CSV
                        </button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div id="myModal" title="mygrave">
            <div id="myModalContent" style="padding-bottom: 2em" class="modal-content"></div>
        </div>

        <div id="visdialog" title="Visualisations">
            <form id="myvisform" class="myvisform"></form>
        </div>

        <div id="infodialog" title="Info"></div>

        <div id="mytreeModal" title="Select category">
            <div>
                <div id="TreeMenu" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label for="jstree_q"></label><input id="jstree_q"
                                                             class="form-control form-control-sm"
                                                             type="text"
                                                             placeholder="type to search...">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-sm" type="button"
                                onclick="transferNode(GlobaltargetField, GlobalNodeSelected, GlobalSelectedNodeName, Globalcriteria, GlobalappendLevel, Globaliter)"
                                id="confirmNodeBtn">Select
                        </button>
                    </div>
                </div>
                <div id="myTreeModalContent">
                    <form id="jstree-div">
                        <div id="jstree"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myjson = {{ myjson|tojson }};
        var jsontypes = {{ typesjson|tojson }};
    </script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/mapsearch.js"></script>
    <script src="/static/js/choropleth_results.js"></script>

{% endblock %}
