{% extends "layout.html" %}
{% block content %}

    <div id="container">
        <div id="sidebar" class="hidden-xs hidden-sm">
            <div class="sidebar-wrapper">
                <div class="panel panel-default" id="pnlSidebar">
                    <div id="mysidebarheading" class="panel-heading">
                        <div class="float-right mt-3">
                            <button type="button" class="mr-2 btn btn-secondary btn-sm fa-pull-right"
                                    onclick="this.blur(); modalsetsite()" title="show details">
                                <i class="fa fa-info"></i>
                            </button>
                        </div>
                        <h3 class="panel-title">
                        <span id="sidebarTitle">
                        </span>
                        </h3>
                    </div>

                    <div id="mysidebarmenu" class="panel-heading">
                        <div class="dropdown">


                        </div>
                    </div>
                    <div class="panel-body" id="mypanel">
                        <div class="panel-group" id="accordion1"
                             style="overflow-y: hidden"> <!--content to be created by js function--> </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="map"></div>

        <div id="dialog" title="Filter/Search">
            <form id="mysearchform"></form>
        </div>

        <div id="styledialog" title="Styling Options for graves">
            <form id="mystyleform">
                <div class="mystyleoptions input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="stylecolor">Fill color: </label>
                    </div>
                    <input class="form-control" id="stylecolor" style="max-width: 70px" type="color" value="#000dff">
                    <span class="input-group-text input-group-middle">Opacity (%): </span>
                    <label for="mystyleopacity"></label><input class="form-control" id="mystyleopacity" type="range" value="10" min="0" max="100">
                    <label for="mystyleopacityvalue"></label><input class="form-control" id="mystyleopacityvalue" type="number" value="10" min="0" max="100"
                                                                    style="max-width: 60px">
                </div>
                <div class="mystyleoptions input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="stylebordercolor">Border color: </label>
                    </div>
                    <label for="stylecolorborder"></label><input class="form-control" id="stylecolorborder" style="max-width: 70px" type="color"
                                                                 value="#000000">
                    <span class="input-group-text input-group-middle">Border width: </span>
                    <label for="styleborderwidth"></label><input class="form-control" id="styleborderwidth" type="number" value="0" min="0">
                </div>
                <button class="btn btn-sm btn-secondary btn-sm float-right" type="button" id="applyStyle"
                        onclick="applyButton()" title="Apply">Apply
                </button>
            </form>
        </div>

        <div id="myModal" title="mygrave">
            <div id="myModalContent" style="padding-bottom: 2em" class="modal-content"></div>
        </div>

        <div id="visdialog" title="Visualisations">
            <form id="myvisform"></form>
        </div>

        <div id="mytreeModal" title="Select category">
            <div>
                <div id="TreeMenu" class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <label for="jstree_q"></label><input id="jstree_q" class="form-control form-control-sm" type="text"
                                                             placeholder="type to search...">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-secondary btn-sm" type="button"
                                onclick="transferNode(GlobaltargetField, GlobalNodeSelected, GlobalSelectedNodeName, Globalcriteria, GlobalappendLevel, Globaliter)"
                                id="confirmNodeBtn">Select
                        </button>
                    </div>
                </div>
                <div id="myTreeModalContent">
                    <form id="jstree-div">
                        <div id="jstree"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var myjson = {{ myjson|tojson }};
        var jsontypes = {{ typesjson|tojson }};
    </script>
    <script src="/static/js/map.js"></script>
    <script src="/static/js/mapsearch.js"></script>
    <script src="/static/js/choropleth_results.js"></script>

{% endblock %}
