{% extends "layout.html" %}
{% block content %}

    <link href="/static/css/charts.css" rel="stylesheet">
    <script>
        tabledata = {{ sites|tojson }};
    </script>
    <div id="mycontent">
        <div class="ml-5 mr-5">
            <h2 class="my-heading container">Admin</h2>
            <div class="row">
                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Prepare Data</h5>
                                    <p class="card-text">Set/refresh data from the database and prepare it for
                                        the presentation
                                        frontend.</p>
                                    <a id="jsonPrepBtn" href="{{ url_for('jsonprepare_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Icons for Identifiers</h5>
                                    <p class="card-text">When using external identifiers/gazetteers, you can search for
                                        icons and use them in your interface</p>
                                    <a id="GeoCleanBtn" href="{{ url_for('geoclean_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Clean Timespan Data</h5>
                                    <p class="card-text">Perform a cleanup for contradictory
                                        timespans of subunits</p>
                                    <a id="TimeCleanBtn" href="{{ url_for('timeclean_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Fix file references</h5>
                                    <p class="card-text">If a file has no reference, set the reference of the
                                        respective entity as reference for the file</p>
                                    <a id="FileRefBtn" href="{{ url_for('fileref_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="m-5 alert alert-info" role="alert" id="infotext"></div>

            <div id="myFilter" class="card m-0 mt-4 mb-4">
                <div class="card-header" id="headingFilter">
                    <h5 class="mb-0">
                        <a id="filterBtn" class="btn btn-link collapsed" type="button"
                           data-toggle="collapse"
                           data-target="#collapseFilter" aria-expanded="true"
                           aria-controls="collapseFilter">
                            Used/Unused Sites <span id="selectedSites"></span><i
                                id="filterBtnArrow"
                                class="ml-3 fas fa-chevron-down"></i>
                        </a>

                    </h5>
                </div>
                <div id="collapseFilter" class="collapse show" aria-labelledby="headingFilter">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                                <table id="sitelist" class="display table table-striped table-bordered"
                                       width="100%">
                                    <thead>
                                    <tr>
                                        <th><input id="selectall" type="checkbox"><label for="selectall"></label></th>
                                        <th>Name</th>
                                        <th>Type</th>
                                        <th>Id</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col input-group">
                            <textarea readonly id="mySelectedSites"
                                      style="background: #f8f9fa; min-height: 15em; font-size: 0.875em"
                                      class="form-control"
                                      aria-label="Selected sites"
                                      rows="15"
                                      placeholder="Selected sites"></textarea>
                            </div>
                        </div>
                    </div>

                </div>
                <button id="submitBtn" class="btn btn-sm btn-secondary mt-2 mx-auto">
                    (0) Apply<br>
                    <i class="fas fa-caret-down mx-auto"></i>
                </button>
                <form id="" method="post" class="m-3">
                    <div class="form-group mt-3">
                        <h5><label for="site_list">List of sites</label></h5>
                        {{ form.csrf_token|safe }}
                        {{ form.site_list(class_="form-control sitelistform", rows="15")|safe }}
                        {{ form.save(class_="float-right mb-2 mt-2 btn btn-secondary")|safe }}
                    </div>
                </form>
            </div>
        </div>
    </div>


    <script src="/static/js/admin.js"></script>

{% endblock %}
