{% extends "layout.html" %}
{% block content %}
    <div id="mycontent">
        <div class="ml-5 mr-5">
            <h2 class="my-heading container">Admin</h2>
            <div class="row">
                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Prepare Data</h5>
                                    <p class="card-text">Set/refresh data from the database and prepare it for
                                        the presentation
                                        frontend.</p>
                                    <a id="jsonPrepBtn" href="{{ url_for('jsonprepare_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Clean Geodata</h5>
                                    <p class="card-text">Perform a cleanup for your geodata. This removes
                                        redundant geometries from
                                        subunits</p>
                                    <a id="GeoCleanBtn" href="{{ url_for('geoclean_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg">
                    <div class="row">
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Clean Timespan Data</h5>
                                    <p class="card-text">Perform a cleanup for contradictory
                                        timespans of subunits</p>
                                    <a id="TimeCleanBtn" href="{{ url_for('timeclean_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="card mb-2" style="max-width: 18rem; min-width: 200px">
                                <img src="/static/images/admin/data-icon-png-13.jpg" class="card-img-top mt-4"
                                     alt="data_refresh"
                                     style="width: 50%; margin: auto">
                                <div class="card-body">
                                    <h5 class="card-title">Fix file references</h5>
                                    <p class="card-text">If a file has no reference, set the reference of the
                                        respective entity as reference for the file</p>
                                    <a id="FileRefBtn" href="{{ url_for('fileref_execute') }}"
                                       class="sql_button btn btn-secondary m-auto" role="button">Go</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <form id="" method="post">
                <div class="form-group mt-3">
                    <h5><label for="site_list">List of sites</label></h5>
                    {{ form.csrf_token|safe }}
                    {{ form.site_list(class_="form-control", rows="15")|safe }}
                    {{ form.save(class_="float-right mb-2 mt-2 btn btn-secondary")|safe }}
                </div>
            </form>
        </div>
    </div>

    <div class="m-5 alert alert-info" role="alert" id="infotext"></div>
    <script src="/static/js/admin.js"></script>

{% endblock %}
