html, body, #container {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#container1 {
    height: 100%;
    width: 100%;
    padding-top: 2em;
    /*padding-bottom: 2em;*/
    overflow: auto;
}

#containerPermalink {
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {
    /*margin-top: 56px;
    padding-bottom: 56px;*/
    position: fixed;
    top: 56px;
}

#map {
    width: auto;
    height: 100%;
}

.my-heading {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}


.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    opacity: 1;
    color: white;
    font-size: 20px;
    padding: 1em;
    text-align: center;
}

#sidebar {
    display: block;
    width: 350px;
    height: 100%;
    max-width: 100%;
    float: left;
}

.panel-heading {
    width: 100%;
    background-color: #f2f2f2;
}

.panel-title {
    padding: 10px 5px 10px 5px;
    margin-bottom: 0;
}

.panel-body {
    width: 100%;
    border-top: 2px solid rgba(0, 0, 0, 0.325);
}

#mypanel {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

#accordion1 {
    overflow-y: hidden;
    margin-top: -2px;
}

.sidebar-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.btn-secondary {
    background-color: #696969;
}

.btn-xs {
    padding: 1px 5px;
    font-size: 14px !important;
    line-height: 1.5;
    border-radius: 2px;
}

.sidebarbuttons {
    margin-top: 6px;
    margin-right: 4px;
    float: right;
}


.buttonleftout {
    padding-left: 4px;
}

#sidebar-start {
    position: absolute;
    top: 50%;
    left: -5px;
    padding-top: 19px;
    padding-bottom: 19px;
    z-index: 900;
}

.sidebarenlage {
    color: #fff !important;
    background-color: rgba(108, 117, 125, 0.50) !important;
    border: 1px solid #4e4e4eba !important;
    border-radius: 4px !important;
}

.mapbutton {
    box-shadow: none !important;
    color: #fff !important;
    background-color: #696969 !important;
    border: 4px solid rgba(214, 214, 214, 0.9) !important;
    border-radius: 8px !important;
    width: 35px !important;
    height: 35px !important;
}

.leaflet-top {
    top: 5px;
}

.leaflet-top .leaflet-control {
    margin-top: 2px;
}

.leaflet-control-layers {
    color: #fff !important;
    background-color: #696969 !important;
    box-shadow: none !important;
    border: 4px solid rgba(214, 214, 214, 0.9) !important;
    border-radius: 8px !important;
}

.leaflet-control-layers-expanded {
    color: #fff !important;
    background-color: #696969 !important;
    box-shadow: none !important;
}

.leaflet-control-layers-toggle {
    background-image: url(../images/icons/layers.png);
    width: 36px;
    height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
    background-image: url(../images/icons/layers-2x.png);
    background-size: 26px 26px;
}

.leaflet-bar {
    box-shadow: none !important;
}

.fullscreen-icon {
    background-image: url(../images/icons/icon-fullscreen.png);
}

.leaflet-retina .fullscreen-icon {
    background-image: url(../images/icons/icon-fullscreen-2x.png);
    background-size: 26px 26px;
}

.easyPrintHolder {
    margin-top: -35px !important;
    margin-left: 35px !important;
}

.easyBtnHolder {
    margin-top: -35px;
    margin-bottom: 0;
    margin-left: 35px;
    padding-left: 0;
    display: none;
    cursor: pointer;
}

.leaflet-bar a, .easy-button-button {
    color: #fff !important;
    background-color: #696969 !important;
    border: 4px solid rgba(214, 214, 214, 0.9) !important;
    border-radius: 8px !important;
    width: 35px !important;
    height: 35px !important;
    line-height: 29px !important;
}

.leaflet-bar a:hover, .easy-button-button:hover, .mapbutton:hover {
    background-color: rgba(108, 117, 125, 0.90) !important;
    box-shadow: none !important;
    width: 35px;
    height: 35px;
}

.btn-secondary:hover {
    background-color: rgba(108, 117, 125, 0.90) !important;
}

.legend {
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff !important;
    background-color: #696969 !important;
    box-shadow: none !important;
    border: 4px solid rgba(214, 214, 214, 0.9) !important;
    border-radius: 8px !important;
    overflow: auto;
    max-height: 600px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background: rgb(227, 227, 227);;
    color: #000000;
    box-shadow: 0 0 0 2px #696969;
}

.leaflet-container a.leaflet-popup-close-button {
    color: #696969;
}

.legendEntry {
    margin-top: 1em;
    padding: .5em;
    color: #000000;
    background-color: rgba(214, 214, 214, 0.9) !important;
    border-radius: 4px !important;
    cursor: move;
}

.overflowlegend {
    display: grid;
}

.legendBtn:hover {
    color: #ffffff !important;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 28px;
    margin-bottom: -9px;
}

.legend .labels {
    padding-bottom: 1em;
}


.sidebarheading {
    display: block;
    font-weight: 500;
    border-top: 2px solid rgba(0, 0, 0, 0.325);
    border-bottom: 2px solid rgba(0, 0, 0, 0.325);
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    color: #000000;
    text-decoration: none;
    padding-bottom: 0.1em;
}

.sidebarheading:hover {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: none;
}

.sidebardescription {
    background-color: #fff;
    font-weight: 400;
    font-size: small;
    padding: 0.5em;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

#mysidebar {
    overflow: hidden;
}

.gravebutton {
    position: relative;
    top: -36px;
    float: right;
    margin-right: 0.5em;
}

#mysidebarmenu {
    padding: 5px;
}

.subsidebarlink:hover {
    color: #000000;
    background-color: #f2f2f2;
    text-decoration: none;
}

.collapsetitle {
    margin: 0.5em;
    font-weight: 400;
}

.collapsebutton {
    margin-top: 0.8em;
    color: #6c757d;
}

.collapsetitle1 {
    margin: 0.2em;
    padding-left: 1em;
    font-weight: 400;
    font-size: small;
}

.collapsebutton1 {
    margin-top: 0.5em;
    margin-right: 0.5em;
    color: #6c757d;
}

.sidebardescription1 {
    background-color: #fff;
    font-weight: 400;
    font-size: small;
    padding: 0.5em 0.5em 0.5em 1.4em;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.collapsetitle2 {
    margin: 0.2em;
    padding-left: 2em;
    font-size: small;
}

.collapsebutton2 {
    margin-top: 0.5em;
    margin-right: 0.5em;
    color: #6c757d;
}

.sidebardescription2 {
    background-color: #fff;
    font-weight: 400;
    font-size: small;
    padding: 0.5em 0.5em 0.5em 2.7em;
    height: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.listicon {
    margin: 9px;
    float: left;
}


.subheading {
    display: block;
    width: 100%;
    height: 100%;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 0.2em;
}

.subheading:hover {
    color: #000000;
    background-color: #f8f9fa;
    text-decoration: none;
}

.modalrowitem {
    margin-right: 1em;
    background-color: #e9ecef;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    margin-bottom: 0.5em;
}

.modalimg {
    max-width: 100%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.cat-image-container {
    align-self: center;
    text-align: center;
}

.carousel-indicators li {
    background-color: #000;
}

.modalwithoutimage {
    margin-left: 1em;
    margin-right: 1em;
}

.modaltitleicon {
    margin-right: 0.5em;
}


.leaflet-container a {
    color: #495057;
}

.ui-dialog {
    z-index: 1001 !important;
}

.ui-widget-overlay .ui-front {
    z-index: 1000;
}

a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #b5b5b5;
    background: #d8d8d8;
    font-weight: normal;
    color: #ffffff;
}

.ui-button:focus {
    outline-color: rgb(198, 198, 198)
}

.select2-container {
    margin-bottom: 0.3em !important;
    width: 100% !important;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.5) !important;
    background-color: #696969 !important;
    border: 0;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: rgba(255, 255, 255, 0.75) !important;
    background-color: #696969 !important;
}

.dropdown-menu {
    background-color: #696969 !important;
    border: 0;
    border-radius: 0;
}

.bg-dark {
    background-color: #696969 !important;
}

.input-group-addon {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.input-group-text {
    font-size: 0.875rem;
    padding: 0 0.75rem;
    height: 31px;
    background-color: #f2f2f2;
}

.input-group-text:first-child {
    border-left-width: 1px;
}

.input-group-text:last-child {
    border-right-width: 1px;
}

.dim-label {
    width: fit-content !important;
}

.value-input {
    min-width: 4em;
    width: 100%;
}

.input-group-middle {
    border-radius: 0 !important;
    margin-left: -1px;
    margin-right: -1px;
}

.toremovebtn {
    margin-right: 3px;
    float: right;
}

.visbutton {
    /*margin-right: 3px;*/
    float: right;
}

.custom-tree {
    width: auto !important;
    top: 1em !important;
}

#mybreadcrumbs {
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
}

#mycontent {
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 1rem;
}

#myModal {
    max-width: 490px;
    margin-top: 5px;
}

.ui-dialog-titlebar-close {
    display: none
}

.ui-dialog {
    padding: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.ui-widget-header {
    border: 0;
    background: #f2f2f2 0 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 1.25rem;
    font-weight: normal;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
    border-radius: 4px;
}

.ui-dialog .ui-dialog-titlebar {
    padding: .4em .4em .4em .7em;
}

.modal-title {
    width: 100%;
}

.chartcontainer {
    max-height: 1000px;
    min-height: 400px;
}

.mymargin {
    margin-top: 1em;
}

.footerimg {
    padding: 1em;
    max-width: 100%;
}

.aboutimage {
    max-width: 100%;
    margin: 1em;
    height: auto;
}

#mysubmenu {
    padding-left: 4.1em;
    padding-right: 4.1em;
}

a:hover {
    color: #003db3;
    text-decoration: none;
}

.logo-heading {
    max-width: 100%;
    max-height: 90px;
}

.mylist {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    margin-left: 3em;
}

#myfooter {
    background-color: #f2f2f2;
    padding: 0.5em;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: rgba(0, 0, 0, 0.68);
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.ui-widget-overlay {
    opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
    filter: Alpha(Opacity=50) !important;

    background: rgb(50, 50, 50) !important; /* This will make it darker */
}

.ui-widget-content a {
    color: #6c757d;
}

.ui-widget-content a:hover {
    color: #0060b4;
}

.entlink {
    color: #007bff!important;
}

.entlink:hover {
    color: #003db3!important;
}

.custom-header-bg {
    background-color: #f2f2f2;
}

.popover-img {
    max-height: 300px;
    max-width: 100%;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 0;
    background-clip: padding-box;
}

.resultlistfooter .btn {
    align-self: end;
}

.layerOptionsClick {
    cursor: pointer;
    display: block;
    margin-left: 1em;
    margin-top: -1px;
    float: right;
    min-width: 60px;
    max-height: 16px;
}

.layerOptionsClickPoint {
    cursor: pointer;
    margin-left: 1em;
    margin-top: -2px;
    border-radius: 50%;
    display: block;
    float: right;
    width: 20px !important;
    height: 20px !important;
}

.gravediv {
    max-height: 42px;
}

.noHover {
    pointer-events: none;
}

.leaflet-div-icon {
    background: rgba(0, 0, 0, 0) none !important;
    border: 0 !important;
    padding: 0 !important;
    margin-left: 40px !important;
    margin-top: -50px !important;
    width: auto !important;
}

.legend-box {
    min-width: 15px !important;
    min-height: 15px !important;
    width: 15px !important;
    height: 15px !important;
    margin-top: 5px !important;
    margin-right: 0 !important;
}

.legend-values {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.key {
    font-size: larger !important;
    font-weight: bold !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    width: max-content;
    min-width: 70px !important;
    max-width: 110px !important;
    line-height: 12px !important;
}

.value {
    font-size: larger !important;
    margin-bottom: 5px !important;
}

.multicolor {
    display: inline-block;
    width: auto;
    max-height: 16px;
    font-weight: lighter !important;
}

.multicolorlist {
    margin-bottom: 18px !important;
}

.multicolorbtn {
    cursor: pointer;
    font-size: 1.3em;
    margin-right: 8px;
    margin-left: 28px;
    margin-top: -1px;
}


#LayerOptionSelect {
    cursor: pointer;
}

.row-tabs {
    min-height: inherit;
    border-radius: 0;
}

.col-tab-left {
    max-width: fit-content;
    padding: 0;
    background: #f2f2f2 0 0;
    margin-top: -8px;
    margin-bottom: -8px;
    margin-left: -2px;
    border-bottom-left-radius: 6px;
}

.tabs-left, .tabs-right {
    border: none;
    background: #f2f2f2 0 0;
}

.tabs-left > li > .nav-link {
    border: none;
    border-radius: 0;
}

.tabs-left > li > .nav-link:active {
    background-color: white;
    border: none;
}

.tabs-left > li > .nav-link:hover {
    background: #e2e2e2 0 0;
    border: none;
}

.tabs-left > li > .nav-link.active:hover {
    background-color: white;
    border: none;
}

*:focus {
    outline: none;
}

#layerlistOv > tbody > tr > td,
#layerlistOv > thead > tr > th {
    font-size: 0.9em;
    line-height: 1.3em;
}

#layerlist > tbody > tr > td {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

#layerlist > thead > tr > th {
    padding: 0.4em 30px 0.4em 0.4em;
}

#CSVmodal > .modal-dialog {
    max-width: 95% !important;
}

input[type=color] {
    cursor: pointer;
}

#infoalert {
    padding-top: 3em;
}

#mystyleform > .card > .card-header {
    padding: 0;
    font-size: 0.875rem !important;
    height: 34px;
    color: #495057 !important;
    background-color: #f2f2f2;
    border-bottom: none !important;
}

.infobtns {
    font-size: 0.875rem !important;
}

#mystyleform > .card > .card-header > h6 > .btn {
    color: #495057 !important;
}

#mystyleform > .card {
    border: 1px solid #ced4da;
    border-bottom: none;
}

#mystyleform > .card > .collapse > .card-body {
    padding: 1.5em 0.7em 1.5em 0.7em;
    font-size: 0.9em;
}

#mystyleform > .card > .collapse:not(.show) > .card-body {
    padding: 1.5em 0.7em 1.5em 0.7em;
    font-size: 0.9em;
}

#mystyleform > .card > .collapse > .card-body > ul > li {
    padding: 0.6em;
    font-size: 0.9em;
}

.card-first {
    border-top-left-radius: 0.25em !important;
    border-top-right-radius: 0.25em !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none;

}

#mystyleform > .card > .card-header:first-child {
    border-radius: 0;
}

.card-middle {
    border-radius: 0 !important;
}

.card-last {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25em !important;
    border-bottom-right-radius: 0.25em !important;
    margin-bottom: 0.5em;
    border-bottom: 1px solid #ced4da !important;
    border-top: none;
}

.card-table {
    padding: 0 !important;
    border: none !important;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0.5;
    display: none;
    font-size: 1rem;
    z-index: 2000 !important;
}

.sitepermalink:hover {
    color: #0056b3 !important;
}

input {
    min-width: 35px !important;
}

.entCounters {
    margin-right: 1em;
    display: inline-block;
}

.counterLegend {
    padding: 6px 8px;
    font-weight: bold;
    background-color: rgba(250, 250, 250, 0.7) !important;
    box-shadow: none !important;
    /* border: 2px solid #696969!important; */
    border-radius: 4px !important;
    overflow: hidden;
}

#counters {
    color: #eeee;
    background-color: #777777;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.statistic-counter {
    margin-bottom: 0.2rem;
}

.custom-select:disabled {
    background-color: #f2f2f2;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #f2f2f2;
}

.modal-xxl > .modal-dialog {
    max-width: 96% !important;
}

.activePage {
    color: #e3e3e3 !important;
    font-weight: bold;
}

.leaflet-control-attribution a {
    text-decoration: none;
    color: #0089bf !important;
    font-weight: bold;
}

.leaflet-control-attribution a:hover {
    text-decoration: none;
    color: #005a82 !important;
    font-weight: bold;
}

/*
#mytablebody td, #mybibbody td {
    background: #f2f2f2;
}*/

.treenode {
    border: none;
    color: #007bff !important;
    cursor: pointer;
    padding: 0.25rem 1rem;
}

.toptreenode {
    border: none;
    font-weight: bold;
    padding: 0.25rem 1rem;
    margin-left: -1rem;
}

.treenode:hover {
    color: #003db3 !important;
}

.treenode > i, .treenode > i:hover {
    color: #212529;
    margin-left: -1.3em;
}

#tree {
    max-height: 50vw;
    overflow: auto;
}

.bstreeview {
    margin-left: 1em;
}

.hierarchy-card .btn-link {
    cursor: pointer;
}

.popover .arrow {
    display: none;
}

.typebutton:hover {
    background: #f2f2f2;
}

.popover a {
    color: #007bff;
}

.popover a:hover {
    color: #003db3;
}

.popover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.closePopover {
    margin-right: -0.3em;
}


#images p, #ImgOne p {
    font-size: 0.875rem;
    margin: 0.6rem;
    text-align: center;
}

#ImgOne {
    margin: 0.8rem
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}

.hierarchy-row {
    margin-left: 0;
    margin-right: 0;
}

.hierarchy-detail {
    font-size: 0.875rem;
    background: #ffffff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 4px;
}

.hierarchy-detail p {
    font-size: 0.875rem;
    margin-bottom: 0.3rem;
}

.node-wrapper {
    display: flex;
}

.popCont {
    margin-top: 0.25em;
    color: #6495ed;
    cursor: pointer;
}

.popCont:hover {
    margin-top: 0.25em;
    color: #305db3;
}

.detailLink {
    color: #6495ed;
    cursor: pointer;
}

.detailLink:hover {
    color: #305db3;
}

.node-wrapper .treenode:hover, .node-wrapper .treenode i {
    color: #6c757d !important;
}

.node-wrapper .treenode, .node-wrapper .treenode i {
    color: #6c757d !important;
}

.typeheading {
    padding-left: 0;
}

#search_result p {
    margin-bottom: 0.2em;
}

.hr-button {
    color: #FFFFFF;
    background-color: #007bff !important;
    border-color: #007bff !important;
}

.hr-button:hover {
    color: #FFFFFF !important;
    background-color: #0069d9 !important;
    border-color: #0062cc !important;
}

#hr_data {
    max-height: 60vh;
    overflow-y: auto;
    border: 1px solid rgba(0, 0, 0, 0.125);
    font-size: 0.875em !important;
    border-radius: 5px;
}

#svgContainer {
    max-height: 60vh;
    padding-bottom: 1em;
}

.hoverbone {
    fill: rgba(255, 0, 0, 0.67) !important;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transform: scale(1.1, 1.1);
    transition: all 0.2s;
}

.BonetruncBtn {
    color: #007bff !important;
}

.BonetruncBtn:hover {
    color: #0069d9 !important;
}

.bonediv {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1em;
}

.boneheading {
    font-size: 1.2em !important;
}

.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: ">";
}

.logo-button {
    display: none !important;
}

.fullscreen-icon {
    display: contents;
    /*background-image: none;*/
}

.static-loading-image {
    display: none !important;
}

.ThreeDeeImage {
    cursor: pointer;
    opacity: 0.5;
}

.ThreeDeeImage:hover {
    opacity: 1;
}

#ImgOne .fullscreen-button {
    display: none !important;
}

.hoverfa:hover {
    color: #6c757d;
}

.hoverfa {
    cursor: pointer;
}

#mynetwork {
    height: 75vh;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
    background: #f8faff;
}

#bonetable > .list-group-item, #avgLegend {
    font-size: 0.8rem;
    padding: 0.3rem;
}

.annotation {
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content;
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: auto !important;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
    display: none;
}

.annotation:hover {
    color: #6c757d;
    font-weight: bold;
}

.carousel-control-prev, .carousel-control-next {
    top: 200px;
    bottom: 200px;
}

.sitelistform {
    font-size: 0.875em;
    background: #f8f9fa;
}

#entbuttons a, #entbuttons button {
    min-width: 34px;
}

#entbuttons .dropdown-item {
    color: #fff!important;
}

#entbuttons .dropdown-item:hover {
    background-color: rgba(108, 117, 125, 0.90) !important;
}

.leaflet-control-loading:empty {
    /* Spinner via ajaxload.info, base64-encoded */
    background-image: url('/static/images/icons/loading_mini.gif');
    background-repeat: no-repeat;
}

.leaflet-control-loading,
.leaflet-control-zoom a.leaflet-control-loading,
.leaflet-control-zoomslider a.leaflet-control-loading,
.leaflet-control-layer-container {
    display: none;
}

.leaflet-control-loading.is-loading,
.leaflet-control-zoom a.leaflet-control-loading.is-loading,
.leaflet-control-zoomslider a.leaflet-control-loading.is-loading,
.leaflet-control-layer-container.is-loading {
    display: block;
}

/* Necessary for display consistency in Leaflet >= 0.6 */
.leaflet-bar-part-bottom {
    border-bottom: medium none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

