
# sensitive data (except example files)
instance/*
!instance/example_*
install/data_cleanup.sql

# cache
__pycache__/*
.cache

# iosacal
thanados/models/iosacal/*

# compiled files
*.pyc

# created files
thanados/static/images/entities/*
thanados/static/images/rc_dates/*

# files for specific projects
thanados/templates/about/about_medcem.html
thanados/templates/about/about_thanados.html
thanados/templates/index/index_medcem.html
thanados/templates/index/index_thanados.html

# data cleanup for thanados
thanados/install/*

# ide
.idea

#tests
tests/cover/*
tests/.coverage
