{% extends "layout.html" %}
{% block content %}

    <div id="mycontent">
        <h2 class="my-heading container">About</h2>
        <div class="mb-5 container with-margin">

            <h3 id="project">Project</h3>
            <span> DeVill </span><span class="text-muted">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et
                ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
            </span>

            <h3 class="mt-5" id="team"> Team </h3>
            <span> Position: </span>
            <span class="text-muted">Name goes here</span>
            <span> Position: </span>
            <span class="text-muted">Name goes here</span>
            <span> Position: </span>
            <span class="text-muted">Name goes here</span>

            <h3 class="mt-5" id="Contact"> Contact </h3>
            <h5>ÖGM</h5>
            <a href="https://oegm.org/" target="_blank">ÖGM</a><br>
            <span> Contact Person:</span><span class="text-muted"> name goes here -
                <a href="mailto:mailgoes.here">
                    mail </a></span><br>
            <span> Address:</span><span class="text-muted"> ÖGM, Franz Klein Gasse 1
                1190 Wien</span>


        </div>
        <footer id="myfooter">
            {% include 'footer.html' %}
        </footer>

    </div>


    <script src="/static/js/about.js"></script>

{% endblock %}
