{% extends "layout.html" %}
{% block content %}

    <div id="mycontent">
        <div class="mb-5 mt-5 container with-margin">
            <h3 id="project">Project</h3>
            <span class="text-muted">
                <p>DeVill, the digital Deserted Villages Archive of the Austrian Society for Medieval and Modern Archaeology
                is an extensive and annotated compilation of sources on medieval and early modern deserted villages in
                Eastern Austria, which were collected by means of archaeology, history, and other related disciplines.
                DeVill is based on the Deserted Villages Archive founded by Fritz Felgenhauer as part of the Archive for
                Medieval Archeology in the early 1970s. In the 1980s, the Deserted Villages Archive became the property
                of the newly founded Austrian Society for Medieval and Modern Archaeology; furthermore Fritz Felgenhauer
                entrusted the geographer Kurt Bors with the curation of the archive, who expanded it further. Currently
                it contains information on approximately 2,500 deserted villages, primarily located in Lower Austria but
                also in the Austrian states of Burgenland, Upper Austria, and Styria. The archive encompasses detailed
                descriptions, images, maps, and archaeological findings of these historical sites. By employing scans,
                3D models, and interactive maps, as well as the relevant literary sources the project shall foster
                international collaborations on the academic research of deserted villages. Additionally, the project
                facilitates the understanding of the villages’ historical significance and their connections within a
                wider medieval and early modern landscape.</p>

                <p>Within the framework of DeVill originally analog data respectively data collected according to standards
                of the 19th and 20th centuries were now linked with new knowledge and are structured according to state
                of the art standards within current digital humanities projects.</p>

                <p>DeVill aims at providing a best practice model on how to disseminate archaeological and historical
                sources and research results in the 21st century against the background of digital humanities, and
                represents a valuable basis for further research in the field of deserted medieval villages.</p>

                <p>DeVill is based on the <a href="https://openatlas.eu" target="_blank">OpenAtlas</a> system and entirely
                built upon open source technology. It started in 2023 supported by the
                <a href="https://www.bmkoes.gv.at" target="_blank">Federal Ministry for Arts, Culture, Civil Service,
                and Sports</a> program <a
                            href="https://www.bmkoes.gv.at/kunst-und-kultur/schwerpunkte/digitalisierung/foerderprogramm-kulturerbe-digital.html"
                            target="_blank">
                “Kulturerbe digital”</a>, funded by EU funds as part of Austria's recovery and resilience plan.</p>

                <p>Within DeVill information on medieval and early modern deserted villages is being digitised according to
                <a href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR</a> principles. The data are
                mapped using the <a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a> and provided online.
                The information can be explored via a digital catalogue and within an interactive map.</p>

                <p>The DeVill project is based at and lead by the <a href="https://www.oegm.or.at" target="_blank">Austrian
                Society for Medieval and Modern Archaeology</a>. The technical development is carried out in cooperation
                with the <a href="https://nhm.at" target="_blank">Natural History Museum Vienna</a></p>
            </span>

            <h3 id="Data">Hosted Data</h3>
            <span class="text-muted">
            <p>Data are digitized, expanded and presented on the project basis. The basic dataset consists of the content
            of the Deserted Villages Archive of the Austrian Society for Medieval and Modern Archaeology. It has been
            enlarged by recent archaeological prospection data, 2D representations of archaeological findings, and 3D
            representations of landscapes. DeVill does not aim for completeness. Despite the greatest possible care in
            creating this website, we cannot guarantee that the information it contains is free of errors and accurate.</p>

            <p>Data were digitized considering copyright and usage rights issues. In order to ensure complete data
            collection, a classification regarding legal aspects was made, which was subsequently taken into account
            when the data was published for reuse. The Austrian Society for Medieval and Modern Archaeology and the
            project team have made intensive efforts to locate all rights holders. We now assume that we are holding the
            usage rights. Should this not be the case, the project team is grateful for any additional information and
            requests contacting the <a href="#contact">coordinators/contact persons</a>.</p>

                <p>DeVill is supported by the <a href="https://thanados.net"
                                                 target="_blank">THANADOS project/platform</a> and <a
                        href="https://kulturpool.at/" target="_blank">Kulturpool</a>. To get more information, please contact
            the respective <a href="#contact">coordinators/contact persons</a>.</p>
            </span>


            <h3 class="mt-5" id="team"> Team </h3>

            <p><span> Main Coordinator, Conceptualisation, Principal Investigator, Research, Data recording: </span>
                <span class="text-muted">Gabriele Scharrer-Liška</span></p>

            <p><span> Principal Investigator, Conceptualisation, Research, Data recording, Georeferencing: </span>
                <span class="text-muted">Roland Filzwieser</span></p>

            <p><span> Technical development/Programming: </span>
                <span class="text-muted">Stefan Eichert</span></p>

            <p><span> Questions of Provenance: </span>
                <span class="text-muted">Thomas Hönigmann</span></p>

            <p><span> Conceptualisation:</span>
                <span class="text-muted">Thomas Kühtreiber</span></p>

            <p><span> Conceptualisation:</span>
                <span class="text-muted">Karin Kühtreiber</span></p>

            <p><span>Digitisation, Recording of Archaeological findings, Research, Data recording: </span>
                <span class="text-muted">Jacqueline Huber</span></p>

            <p><span>Digitisation, Recording of Archaeological findings, Research, Data recording, Logo: </span>
                <span class="text-muted">Nora Siegmeth</span></p>

            <p><span> Technical support: </span>
                <span class="text-muted">Bernhard Koschiček-Krombholz</span></p>

            <h3 class="mt-5" id="contact"> Contact </h3>
            <p><a href="https://oegm.or.at/" target="_blank">Austrian Society for Medieval and Modern
                Archaeology</a><br></p>
            <p><span> Contact Person:</span><span class="text-muted"> Mag. Dr. Gabriele Scharrer-Liška
                <a href="mailto:gabriele.scharrer@univie.ac.at">
                    gabriele.scharrer@univie.ac.at </a></span><br></p>
            <p><span>Address: </span><span class="text-muted">Österreichische Gesellschaft für Mittelalter- und
            Neuzeitarchäologie, Franz Klein-Gasse 1, 1190 Wien & Universität Wien, VIAS, Franz Klein-Gasse 1, 1190 Wien
            </span></p>

            <h3>Cooperations</h3>
            <p><a href="https://thanados.net" target="_blank">THANADOS</a></p>
            <p><a href="https://kulturpool.at/" target="_blank">Kulturpool</a></p>
            <p><a href="https://vias.univie.ac.at/vias/" target="_blank">University of Vienna/VIAS</a></p>


        </div>

        <div class="mb-5 container with-margin">

            <h3 id="project">Projekt</h3>
            <span class="text-muted">
                <p>DeVill (Deserted Villages Archive), das digitale Wüstungsarchiv der Österreichischen Gesellschaft für
                Mittelalter- und Neuzeitarchäologie ist eine umfangreiche und kommentierte Zusammenstellung von
                Quellen zu mittelalterlichen und frühneuzeitlichen Ortswüstungen in Ostösterreich, die mit Methoden
                der Archäologie, Geschichtswissenschaft und anderer verwandter Wissenschaftsdisziplinen erhoben
                wurden. DeVill basiert auf dem in den frühen 1970er Jahren von Fritz Felgenhauer als Teil des
                Archivs für Mittelalterarchäologie gegründeten Wüstungsarchivs. In den 1980er Jahren gelangte das
                Wüstungsarchiv an die neu gegründete Österreichische Gesellschaft für Mittelalter- und
                Neuzeitarchäologie; darüber hinaus übertrug Fritz Felgenhauer dem Geographen Kurt Bors die Betreuung
                des Wüstungsarchivs, der das Archiv weiter ausbaute, das aktuell Informationen zu rund 2500
                Ortswüstungen vor allem in Niederösterreich, aber auch im Burgenland, in Oberösterreich und in der
                Steiermark enthält. Das Archiv umfasst detaillierte Beschreibungen, Bilder, Kartenmaterial und
                Darstellungen archäologischer Funde dieser Wüstungen. Durch den Einsatz von Scans, 3D-Modellen und
                interaktiven Karten sowie die Zusammenstellung relevanter Schriftquellen soll das Projekt
                internationale Kooperationen zur wissenschaftlichen Untersuchung von Ortswüstungen fördern.
                Darüber hinaus erleichtert das Projekt das Verständnis der historischen Bedeutung der Siedlungen und
                deren Verbindungen zueinander innerhalb der mittelalterlichen und frühneuzeitlichen Landschaft.</p>

                <p>Ursprünglich analog bzw. nach Standards des 19. und 20. Jahrhunderts erfasste Daten wurden nun im
                Rahmen von DeVill mit neuem Wissen verknüpft und liegen nun entsprechend den Standards der digitalen
                Geisteswissenschaften strukturiert vor. DeVill zielt darauf ab, die Quellen in gegenwärtig optimaler
                Weise bereitzustellen und bietet eine wichtige Datengrundlage  für weiterführende Forschungen zur
                Ortswüstungsforschung.</p>

                <p>DeVill basiert auf der Open-Source-Datenbanksoftware <a href="https://openatlas.eu" target="_blank">
                    OpenAtlas</a>. Das Projekt wurde 2023 gestartet und vom
                    <a href="https://www.bmkoes.gv.at" target="_blank">Bundesministerium für Kunst, Kultur, öffentlicher
                        Dienst und Sport</a> im Rahmen des Förderprogramms  <a
                            href="https://www.bmkoes.gv.at/kunst-und-kultur/schwerpunkte/digitalisierung/foerderprogramm-kulturerbe-digital.html"
                            target="_blank">
                “Kulturerbe digital”</a>, das als Teil des österreichischen Aufbau- und Resilienzplans aus EU-Mitteln
                    finanziert wurde, gefördert.</p>

                <p>
                    Die Informationen zu mittelalterlichen und frühneuzeitlichen Ortswüstungen wurden in DeVill
                    entsprechend den <a href="https://www.go-fair.org/fair-principles/" target="_blank">FAIR</a>
                    Prinzipien erfasst und digitalisiert. Die Daten werden entsprechend
                    <a href="http://www.cidoc-crm.org/" target="_blank">CIDOC CRM</a> aufbereitet, kartiert und online
                    bereitgestellt. Sie können über einen digitalen Katalog oder eine interaktive Karte durchsucht
                    werden. Sowohl die kartografischen als auch die grafischen Darstellungen werden jeweils dynamisch
                    und basierend auf den Forschungsdaten erstellt.
                </p>

                <p>DeVill ist ein Projekt der <a href="https://www.oegm.or.at" target="_blank">Österreichischen
                    Gesellschaft für Mittelalter- und Neuzeitarchäologie</a>. Die technische Entwicklung erfolgt in
                    Kooperation mit dem <a href="https://nhm.at" target="_blank">Naturhistorischem Museum Wien</a></p>
            </span>

            <h3 id="Data">Daten</h3>
            <span class="text-muted">
            <p>Die Forschungsdaten wurden auf Projektbasis digitalisiert, erweitert und präsentiert. Der Datenbestand
                basiert auf den Archivbeständen des Wüstungsarchivs der Österreichischen Gesellschaft für Mittelalter-
                und Neuzeitarchäologie. Dieser wurde um neuere archäologische Prospektionsdaten, 2D-Darstellungen
                archäologischer Funde sowie 3D-Darstellungen von Landschaften erweitert. DeVill erhebt keinen Anspruch
                auf Vollständigkeit. Trotz größtmöglicher Sorgfalt bei der Erstellung dieser Website kann für die
                Fehlerfreiheit und Genauigkeit der enthaltenen Informationen nicht garantiert werden.</p>

            <p>Die Digitalisierung der Daten erfolgte unter Berücksichtigung von Urheber- und Nutzungsrechtsfragen.
                Dabei wurde im Sinne einer vollständigen Datenerfassung eine Klassifizierung hinsichtlich der
                Rechtsaspekte vorgenommen, die in Folge bei der Freischaltung der Daten für die Wiedernutzung
                berücksichtigt wurde. Die ÖGM und das Projektteam haben sich intensiv bemüht, alle Rechteinhaber
                ausfindig zu machen und gehen nun davon aus, im Besitz der Nutzungsrechte zu sein. Sollte dies nicht der
                Fall sein, ersucht das Projektteam um Hinweise und Kontaktierung der
                <a href="#kontakt">Koordinatoren bzw. Kontaktpersonen.</a>.</p>

            <p>DeVill wird von <a href="https://thanados.net" target="_blank">THANADOS</a> und
                <a href="https://kulturpool.at/" target="_blank">Kulturpool</a> unterstützt. Für weiterführende
                Informationen kontaktieren Sie bitte die <a href="#kontakt">Koordinatoren bzw. Kontaktpersonen.</a>.</p>
            </span>


            <h3 class="mt-5"> Team </h3>

            <p>
                <span> Hauptkoordinatorin, konzeptionelle Planung, leitende Wissenschaftlerin, Recherche, Datenerfassung: </span>
                <span class="text-muted">Gabriele Scharrer-Liška</span></p>

            <p>
                <span> Leitender Wissenschaftler, konzeptionelle Planung, Recherche, Datenerfassung, Georeferenzierung: </span>
                <span class="text-muted">Roland Filzwieser</span></p>

            <p><span> Entwicklung/Programmierung: </span>
                <span class="text-muted">Stefan Eichert</span></p>

            <p><span> Provenienzfragen: </span>
                <span class="text-muted">Thomas Hönigmann</span></p>

            <p><span> Konzeptionelle Planung:</span>
                <span class="text-muted">Thomas Kühtreiber</span></p>

            <p><span> Konzeptionelle Planung:</span>
                <span class="text-muted">Karin Kühtreiber</span></p>

            <p><span>Digitalisierung, Aufnahme archäologischer Funde, Recherche, Datenerfassung: </span>
                <span class="text-muted">Jacqueline Huber</span></p>

            <p><span>Digitalisierung, Aufnahme archäologischer Funde, Recherche, Datenerfassung, Logo: </span>
                <span class="text-muted">Nora Siegmeth</span></p>

            <p><span> Technische Unterstützung: </span>
                <span class="text-muted">Bernhard Koschiček-Krombholz</span></p>

            <h3 class="mt-5" id="kontakt"> Kontakt </h3>
            <p><a href="https://oegm.or.at/" target="_blank">Österreichische Gesellschaft für Mittelalter- und
                Neuzeitarchäologie</a><br></p>
            <p><span> Kontaktperson:</span><span class="text-muted"> Mag. Dr. Gabriele Scharrer-Liška
                <a href="mailto:gabriele.scharrer@univie.ac.at">
                    gabriele.scharrer@univie.ac.at </a></span><br></p>
            <p><span>Addresse: </span><span class="text-muted">Österreichische Gesellschaft für Mittelalter- und
            Neuzeitarchäologie, Franz Klein-Gasse 1, 1190 Wien & Universität Wien, VIAS, Franz Klein-Gasse 1, 1190 Wien
            </span></p>

            <h3>Kooperationen</h3>
            <p><a href="https://thanados.net" target="_blank">THANADOS</a></p>
            <p><a href="https://kulturpool.at/" target="_blank">Kulturpool</a></p>
            <p><a href="https://vias.univie.ac.at/vias/" target="_blank">Universität Wien/VIAS</a></p>


        </div>

        <footer id="myfooter">
            {% include 'footer.html' %}
        </footer>

    </div>


    <script src="/static/js/about.js"></script>

{% endblock %}
