{% extends "layout.html" %}
{% block content %}

<div id="mycontent">
    <h2 class="my-heading container">About</h2>
    <div class="container with-margin">

        <h3 id="project"> The project
        </h3>
        <p class="lead text-muted" style="margin-top: 0.3em; margin-bottom: 2em">
            <b> "Medieval Cemeteries at the Periphery of the Carolingian World" </b> was developed within the Project
            "International exchange of methodological
            experience in the study on the impact of emergencies on the migration and economic strategies of the past
            human populations" (Project No.:
            CZ.02.2.69 / 0.0 / 0.0 / 16_027 / 0008494). It is funded by the European Union and the Ministry of
            Education,
            Youth and
            Sports of the Czech Republic. It deals with the digital dissemination of Early Medieval graveyards and aims
            at creating an online platform for interactive publishing of archaeological data. All information of the
            archaeologically investigated sites presented here comes from the original publications and is represented
            as digital catalog along with interactive maps and visualisations of the cemeteries.
        </p>
        <h3 id="contributors"> Contributors </h3>
        <p class="lead text-muted" style="margin-top: 0.3em; margin-bottom: 2em">
            <b> Project Leader, Design and Programming: </b> Stefan Eichert <br>
            <b> Data Input:</b> Judith Benedix, Stefan Eichert, Štěpán Rűckl, David Rakušan <br>
            <b> Additional Support:</b> Jan Hasil, David Novák, Alexander Watzinger, Jan Belik, Nina Brundke
        </p>
        <h3 id="Contact"> Contact </h3>
        <p class="lead text-muted" style="margin-top: 0.3em; margin-bottom: 2em">
            <b>Host:</b> <a href="http://www.arup.cas.cz/" target="_blank">Archaeological Institute of the Czech Academy
            of Sciences in Prague</a>.<br>
            <b> Affiliated with: </b> <a href="http://www.aiscr.cz/en/" target="_blank"> Archaeological Information
            System of the Czech Republic</a>.<br>
            <b> Address:</b> Institute of Archaeology of the CAS, Prague, v. v. i. Letenská 123/4, 118 01 Prague 1 <br>
            <b> Contact Persons:</b><br> Mag. Dr. Stefan Eichert: stefaneichert@gmail.com <br> Mgr. David Novák Ph.D.:
            novak@arup.cas.cz
        </p>
    </div>
    <footer id="myfooter" style="background-color: #f8f9fa">
        <div class="container"
             style="flex-wrap: wrap; display: flex; align-items: center; justify-content: space-between">
            <a href="https://opvvv.msmt.cz/" target="_blank"><img class="footerimg"
                                                                  src="/static/images/logos/logo-EU.png"></a>
            <a href="http://www.msmt.cz/" target="_blank"><img class="footerimg"
                                                               src="/static/images/logos/MSMT_logotyp_text_CMYK_eng.png"></a>
            <a href="http://www.arup.cas.cz/" target="_blank"><img class="footerimg"
                                                                   src="/static/images/logos/ARUP.png"></a>
        </div>
    </footer>
</div>


<script src="/static/js/about.js"></script>

{% endblock %}