<div
        style="flex-wrap: wrap; display: flex; align-items: center; justify-content: space-around;">
    <a href="https://www.oegm.or.at/" target="_blank"><img class="footerimg"
                                                           src="/static/images/logos/logo_2023.png"></a>
    <a href="https://vias.univie.ac.at/vias/" target="_blank"><img class="footerimg"
                                                                   src="/static/images/logos/Uni_Wien_Logo_VIAS.png"></a>
    <a href="https://www.nhm-wien.ac.at/" target="_blank"><img class="footerimg"
                                                               src="/static/images/logos/nhm_logo.png"></a>
    <a href="https://www.bmkoes.gv.at/kunst-und-kultur/schwerpunkte/eu-international/eu-aufbau-und-resilienzfazilitaet/digitalisierungsstrategie.html" target="_blank"><img class="footerimg"
                                     src="/static/images/logos/bmkoes.png"></a>
    <a href="https://next-generation-eu.europa.eu/index_de" target="_blank"><img class="footerimg"
                                     src="/static/images/logos/EU.png"></a>
    <a href="https://openatlas.eu/" target="_blank"><img class="footerimg"
                                                         src="/static/images/logos/openatlas_logo.png"></a>
</div>