<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Medieval Cemeteries Online</title>

    <link rel="icon" href="/static/favicon.ico">
    <link href="/static/vendor/bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="/static/vendor/leaflet/leaflet.css" rel="stylesheet"/>
    <script src="/static/vendor/leaflet/leaflet.js"></script>
    <script src="/static/vendor/leafletplugins/leaflet-providers-master/leaflet-providers.js"></script>
    <script src="/static/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="/static/vendor/bootstrap-4.3.1-dist/js/bootstrap.bundle.min.js"></script>
    <link href="/static/vendor/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet">
    <script src="/static/vendor/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/vendor/fontawesome-free-5.7.2-web/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/vendor/vakata-jstree-bc5187e/dist/themes/default/style.min.css" />
    <script src="/static/vendor/vakata-jstree-bc5187e/dist/jstree.min.js"></script>
    <script src="/static/vendor/leaflet-choropleth/dist/choropleth.js"></script>
    <link href="/static/vendor/featherlight/featherlight.css" type="text/css" rel="stylesheet" />
    <script src="/static/vendor/featherlight/featherlight.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/globalfunctions.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<nav id="mynavbar" class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container-fluid" style="padding-left: 0px">
        <a class="navbar-brand" href="/">
            <img src="/static/images/icons/logo.png" width="30" height="30" alt="" title="Home">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Cemeteries</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ url_for('sites_kourim') }}">Stará Kouřim</a>
                        <a class="dropdown-item" href="#">Pohansko Herrenhof</a>
                        <a class="dropdown-item" href="#">Thunau Obere Holzwiese</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('map_index') }}">Map</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('charts') }}">Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about') }}">About</a>
                </li>

            </ul>
        </div>
    </div>
</nav>


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="message {{ category }}">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}
{% block content %}
{% endblock %}

</body>
</html>

