{% extends "layout.html" %}
{% block content %}

    <link rel="stylesheet"
          href="/static/vendor/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css">
    <script src="/static/vendor/node_modules/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">

    <div id="mycontent" class="pb-4">
        <div id="mySearchCards" class="m-4 sortable">
        </div>
        <button id="AddSearch" class="btn btn-secondary float-end me-4 d-none">New Search</button>

    </div>
    <div id="mytreeModal" title="Select category" class="d-none">
        <div>
            <div id="TreeMenu" class="input-group input-group-sm mb-3">
                <input id="jstree_q" class="form-control form-control-sm" type="text"
                                                         placeholder="type to search...">
                    <button class="btn btn-secondary btn-sm" type="button"
                            onclick="transferNode(GlobaltargetField, GlobalNodeSelected, GlobalSelectedNodeName, Globalcriteria, GlobalappendLevel, Globaliter, 'false')"
                            id="confirmNodeBtn">Select
                    </button>

            </div>
            <div id="myTreeModalContent">
                <form id="jstree-div">
                    <div id="jstree"></div>
                </form>
            </div>
        </div>
    </div>


    <script> test_csrf_token = '{{ csrf_token() }}'; </script>
    <script src="/static/js/search.js"></script>
    <script>    jsontypes =
    {{ typesjson|tojson }} </script>
    <script>    sitelist =
    {{ sitelist|tojson }}    </script>

{% endblock %}