{% extends "layout.html" %}
{% block content %}

    <link href="/static/css/style.css" rel="stylesheet">

    <div id="mycontent">
        <div class="row p-0 m-0" style="width: 100%">

            <div class="col-lg-6">
                <div class="border rounded-3 p-3 mt-3 mb-3">
                    <div id="filters">
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Projects
                            </button>
                            <ul class="dropdown-menu" id="case_studies">
                                <li><a class="dropdown-item" title="show all sites" href="#" onclick="filterTable(0)">All ({{ sitelist|length }})</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Countries
                            </button>
                            <ul class="dropdown-menu" id="regions">
                                <li><a class="dropdown-item" title="show all sites" href="#" onclick="filterTable(0)">All ({{ sitelist|length }})</a></li>
                            </ul>
                        </div>
                        <div class="btn-group">
                            <button type="button"
                                    class="btn btn-secondary dropdown-toggle"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Periods
                            </button>
                            <ul class="dropdown-menu" id="periods">
                                <li><a class="dropdown-item" title="show all sites" href="#" onclick="filterTable(0)">All ({{ sitelist|length }})</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row mb-3 mt-3"
                         style="font-size: 0.875em; color: #333; width: 100%; margin-left: 0.1em">
                        <div class="col-sm mt-2">
                            <span style="min-width: 200px" id="amount"></span>
                            <div class="mt-2" id="slider-range"></div>
                        </div>
                        <div class="col-sm mt-2">
                            <span style="min-width: 200px" id="amount2"></span>
                            <div class="mt-2" id="slider-range2"></div>

                        </div>
                    </div>
                </div>
                <table id="sitelist"
                       class="display table table-striped table-bordered"
                       width="100%">

                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Graves</th>
                    </tr>
                    </thead>
                </table>


            </div>
            <div class="col-lg-6 m-0 p-0">
                <div id="map" style="min-width: 300px"></div>
            </div>
        </div>
        <div style="display: none">
            <label for="min"></label><input type="text" id="min" name="min">
            <label for="max"></label><input type="text" id="max" name="max">
            <label for="min1"></label><input type="text" id="min1" name="min">
            <label for="max1"></label><input type="text" id="max1" name="max">
        </div>

    </div>

    <script>    sitelist = {{ sitelist|tojson }};    </script>
    <script src="/static/js/sites.js"></script>

{% endblock %}

