{% extends "layout.html" %}
{% block content %}

    <link href="/static/css/style.css" rel="stylesheet">

    <div id="mycontent" class="container-fluid">

        <h2 class="my-heading container">Sites</h2>

        <div class="row" style="width: 100%">
            <div class="col">
                <div class="row mb-3" style="width: 100%; margin-left: 0.1em">
                    <div class="col">
                        <label for="amount">Begin between</label>
                        <input type="text" id="amount" readonly style="border:0;">
                        <div id="slider-range"></div>

                    </div>
                    <div class="col">
                        <label for="amount2">End between</label>
                        <input type="text" id="amount2" readonly style="border:0;">
                        <div id="slider-range2"></div>

                    </div>
                </div>
                <table id="sitelist" class="display table table-striped table-bordered"
                       width="100%">

                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Graves</th>
                    </tr>
                    </thead>
                </table>
                <p></p>
                <p class="text-muted font-weight-light ml-1 mr-1">
                    Here you can find a list of sites that are already prepared for online dissemination. You can select
                    detailed views and maps by clicking the names respectively the map markers. They are currently being
                    translated and edited and it is still work in progress. The number of online sites will be increased
                    in the course of the project. If you encounter any bugs or mistakes in the content as well as for
                    any kind of feedback please feel free to contact us under: stefan.eichert@nhm-wien.ac.at
                </p>
            </div>
            <div class="col">
                <div id="map" style="min-width: 300px"></div>
            </div>
        </div>
        <div style="display: none">
            <label for="min"></label><input type="text" id="min" name="min">
            <label for="max"></label><input type="text" id="max" name="max">
            <label for="min1"></label><input type="text" id="min1" name="min">
            <label for="max1"></label><input type="text" id="max1" name="max">
        </div>

    </div>

    <script>    sitelist = {{ sitelist|tojson }};    </script>
    <script src="/static/js/sites.js"></script>

{% endblock %}

