{% extends "layout.html" %}
{% block content %}
    <link href="/static/vendor/leafletplugins/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css" rel="stylesheet">
    <link href="/static/vendor/leafletplugins/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css"
          rel="stylesheet">
    <link href="/static/vendor/leafletplugins/leaflet.fullscreen-master/Control.FullScreen.css" rel="stylesheet">
    <link href="/static/vendor/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet">
    <script src="/static/vendor/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script src="/static/vendor/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="/static/vendor/leafletplugins/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="/static/vendor/leafletplugins/Leaflet.heat/dist/leaflet-heat.js"></script>
    <script src="/static/vendor/leafletplugins/leaflet.fullscreen-master/Control.FullScreen.js"></script>
    <link href="/static/css/style.css" rel="stylesheet">

    <div id="mycontent" class="container-fluid">

        <h2 class="my-heading container">Sites</h2>

        <div class="row" style="width: 100%">
            <div class="col">
                <table id="sitelist" class="display table table-striped table-bordered" width="100%">
                    <div class="row" style="width: 100%; margin-left: 0.1em">
                        <div class="col">
                            <label for="amount">Begin between</label>
                            <input type="text" id="amount" readonly style="border:0;">
                            <div id="slider-range"></div>
                            </p>
                        </div>
                        <div class="col">
                            <label for="amount2">End between</label>
                            <input type="text" id="amount2" readonly style="border:0;">
                            <div id="slider-range2"></div>
                            </p>
                        </div>
                    </div>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Begin</th>
                        <th>End</th>
                        <th>Graves</th>
                    </tr>
                    </thead>
                </table>
                <p>
                <p class="lead text-muted font-weight-light ml-2 mr-1">
                    Here you can find a list of sites that are already prepared for online dissemination. You can select
                    detailed views and maps by clicking the names respectively the map markers. They are currently being
                    translated and edited and it is still work in progress. The number of online sites will be increased
                    in the course of the project. If you encounter any bugs or mistakes in the content as well as for
                    any kind of feedback please feel free to contact us under: stefan.eichert@nhm-wien.ac.at
                </p>
            </div>
            <div class="col">
                <div id="map" style="min-width: 300px"></div>
            </div>
        </div>
        <div style="display: none">
            <input type="text" id="min" name="min">
            <input type="text" id="max" name="max">
            <input type="text" id="min1" name="min">
            <input type="text" id="max1" name="max">
        </div>

    </div>
    <div class="modal" id="siteModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Sites</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Here you can find a list of sites that are already prepared for online dissemination. You can
                        select
                        detailed views and maps by clicking the names respectively the map markers. They are currently
                        being
                        translated and edited and it is still work in progress. The number of online sites will be
                        increased in the
                        course of the project. If you encounter any bugs or mistakes in the content as well as for any
                        kind of
                        feedback please feel free to contact us under stefan.eichert@nhm-wien.ac.at.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>    sitelist = {{ sitelist|tojson }};    </script>
    <script src="/static/js/sites.js"></script>

{% endblock %}

