{% extends "layout.html" %}
{% block content %}

    <script type="application/ld+json">

        {{ metadata|tojson }}

    </script>

    <script src="/static/vendor/node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="/static/vendor/node_modules/chartjs-plugin-annotation/chartjs-plugin-annotation.min.js"></script>



    <div id="containerPermalink">
        <div id="mybreadcrumb"></div>
        <div id="mycontent"></div>
    </div>

    <div id="myModal" title="mygrave">
        <div id="myModalContent" style="padding-bottom: 2em" class="modal-content"></div>
    </div>

    <div class="modal fade" id="HeightModal" tabindex="-1" role="dialog"
         aria-labelledby="Body Height (calculated)" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header custom-header-bg">
                    <h5 class="modal-title" id="HeightModalLabel">Body Height Estimation</h5>
                    <button id="closeBodyheight" type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
                <div class="modal-body" id="bodyheight">
                </div>
            </div>
        </div>
    </div>

    <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

    <script>
        place_id = {{ place_id }};
        entity_id = {{ object_id }};
        systemtype = "{{ openatlas_class_name }}";
        var jsonmysite = {{ mysitejson|tojson }};
        console.log(jsonmysite)
    </script>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/svg.js"></script>
    <script src="/static/js/entity.js"></script>
{% endblock %}
