{% extends "layout.html" %}
{% block content %}

    <script src="https://cdn.babylonjs.com/viewer/babylon.viewer.js"></script>

    <div id="containerPermalink">
        <div id="mybreadcrumb"></div>
        <div id="mycontent"></div>
    </div>

    <div id="myModal" title="mygrave">
        <div id="myModalContent" style="padding-bottom: 2em" class="modal-content"></div>
    </div>

    <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

    <script>
        place_id = {{ place_id }};
        entity_id = {{ object_id }};
        systemtype = "{{ system_type }}";
        var jsonmysite = {{ mysitejson|tojson }};
    </script>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/svg.js"></script>
    <script src="/static/js/entity.js"></script>
{% endblock %}
