{% extends "layout.html" %}
{% block content %}

    <div id="containerPermalink">
        <div id="mybreadcrumb"></div>
        <div id="mycontent"></div>
    </div>
    <div class="modal fade" id="citeModal" tabindex="-1" role="dialog"
         aria-labelledby="How to cite this" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header custom-header-bg">
                    <h5 class="modal-title" id="citeModalLabel">How to cite this:</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="mycitation">
                </div>
                <div style="margin: 1em; padding: 0.5em; color: #495057; font-size: 0.9em;">
                    <a class="mb-2" rel="license" href="http://creativecommons.org/licenses/by/4.0/"
                       target="_blank">
                        <img alt="Creative Commons License" style="border-width:0"
                             src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                    </a>
                    <div class="mb-2 mt-4">
                        This work is licensed under a
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/" target="_blank">
                            Creative Commons Attribution 4.0 International License
                        </a>
                    </div>
                    <div class="mb-2">
                        Please note that this licence applies only to the information respectively the dataset represented here.
                        This data was derived from the sources cited above. We recommend to cite them as well.
                        Feel free to adapt the citation to your needs for the publishing medium you are using.
                        When doing so, please make sure to follow the
                        <a href="https://creativecommons.org/use-remix/" target="_blank">
                            Creative Commons attribution guidelines
                        </a>
                    </div>
                    <div>
                        For digital objects that are displayed here from other sources (e.g. map tiles, images),
                        other rights respectively licences might apply. For using them in your own work, make sure
                        to possess the necessary rights and cite the original creators properly.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" title="mygrave">
        <div id="myModalContent" style="padding-bottom: 2em" class="modal-content"></div>
    </div>



    <script>
        place_id = {{ place_id }};
        entity_id = {{ object_id }};
        systemtype = "{{ system_type }}";
        var jsonmysite = {{ mysitejson|tojson }};
    </script>
    <link href="/static/css/style.css" rel="stylesheet">
    <script src="/static/js/entity.js"></script>
{% endblock %}
